[Unit]
Description=DuckDuckGo Discord bot by Programming
After=network.target

[Service]
Type=simple
User=mallard
ExecStart=/usr/bin/env python3.6 -m mallard config.yaml
WorkingDirectory=/home/mallard/repo
Restart=always
RestartSec=600

[Install]
WantedBy=multi-user.target
